*{
    margin: 0px;
    padding: 0px;
}

body{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.mon_site{
    background-color: #302e2e;
}

/*-----------HEARDER-------------*/

header{
    padding: 15px;
    gap: 2px;
}

.img_header{
    display: flex;
    justify-content: space-between;
    
}


.nom_etudiant{
    position: absolute;
    right:0px ;
    top: 10px;
    text-align: center;
    width: 450px;
    background-color:#c3c3c3;
}

.logo{
    padding: 5px;
    width: 250px;
    height: 70px;
}

.logo:hover{
    background-color: #006699;
    transition: 2s;
}

    
.ma_photo:hover{
    width: 150px;
    height: 150px;
    transform: scale(1.25);
    transition: .7s;
}

header nav{
    text-align: center;
}
.ma_photo{
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px black);
    width: 150px;
    height: 150px;
}



/*-----------NAV BAR-------------*/

nav a{
    font-size: 20px;
    color: white;
    padding: 30px;
    padding-bottom: 10px;
    text-decoration: none;
    width: auto;
}

nav a:hover{
    color: #006699;
    border-bottom: #006699 solid 2px;
    transition: 800ms;
}

/*-----------SECTION-------------*/
section{
    overflow:hidden ;
    padding: 20px 0px;
    padding-bottom: 100px;
}

section p{
    padding: 20px;
    color: aliceblue;
    font-size: 20px;
}

section h1{
    padding: 20px;
    text-align: center;
    font-size: 40px;
    color: #006699;
}

.parcours{
    display: flex;
    justify-content: center;
}
.parcour{
    margin: 10px 10px 10px 70px;
    padding: 5px;
    text-align: center;
    width: 500px;
}
.parcour li{
    color: white;
    list-style: none;
    padding: 10px;
}

.parcours h2{
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
}

.competences{
    text-align: center;
}

.competence{
    display: flex;
   justify-content: center;
}

/*-----------FOOTER--------------*/
footer{
    padding: 10px;
    background-color: #c3c3c3;
}

.contactez-moi{
    text-align: center;
}
.contactez-moi h3{
    padding: 10px;
}
footer a{
    font-size: 60px;
    color:black;
}
footer a:hover{
    color: #006699;
}

